apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
resources:
  - deployment.yaml
  - service.yaml
  - httpproxy.yaml
  - mysql.yaml
configMapGenerator:
  - name: webdb-config
    literals:
      - spring.datasource.url="jdbc:mysql://sensordb-mysql/sensors"
      - spring.datasource.username=sensors
      - spring.datasource.password=sensors
